
.maincontainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
button{
    width: 100px;
    margin-left: 80px;
    color: blue;
}
.sub{
    margin-left: 40px;
    
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mahesh{
    border: 1px solid rgb(18, 1, 1);
    width: 50%;
    display: flex;
}

.icons{
    margin-top: 50px;
}